.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../img/img3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#box {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 40px;
  color: #fff;
}

.lead {
  margin-bottom: 0.5em;
}

/* --------------------------------------------------- */
/* ------------------ MEDIA QUERIES ------------------ */
/* --------------------------------------------------- */

/* Extra small devices (phones, 599px and down) */
@media screen and (max-width: 599px) {
  h1 {
    font-size: 1.6rem;
  }
  .lead {
    font-size: 1rem;
  }
}
